body {
  text-align: center;
}

header {
  background-color: black;
  text-align: left;
  height: fit-content;
}

header img {
  width: 10%;
  margin: 1em;
  border-radius: 0%;
}

section {
  padding: 2em;
}

#bg_image {
  background-image: url(./images/banner.jpg);
  background-size: cover;
  padding: 7em 10em;
}

h1 {
  font-size: 2em;
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1em;
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  font-weight: bold;
}

h6 {
  color: white;
  font-size: 0.7rem;
  font-family: "Open Sans", sans-serif;
}

p {
  color: #393d41;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65em;
  margin-bottom: 0.5em;
}

button {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  padding: 0.8em 1.5em;
  border-radius: 5%;
  border: none;
}

.columns {
  width: 90%;
}

.columns div {
  display: inline-block;
  width: 40%;
  margin-right: 5%;
  text-align: left;
}

.columns img {
  width: 100%;
  border-radius: 50%;
}

#right {
  display: inline-block;
  padding-top: 3em;
  padding-bottom: 3em;
}

#bg_red {
  background-color: #e22d0e;
  padding: 4em 10em;
}

#bg_red h1,
#bg_red p,
#bg_red q {
  color: white;
}

q {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65em;
  font-style: italic;
  display: block;
  margin-bottom: 1.5em;
  /* non riuscivo ad aggiungere margin-bottom perché q di default è un elemento inline! :))) */
}

#recursive div {
  display: inline-block;
  width: 30%;
  margin-right: 2%;
  border: 1px #dee1e3 solid;
  margin-bottom: 2em;
}

#recursive img {
  width: 100%;
  border-radius: 0%;
  margin: 0;
  /* se hanno la stessa altezza ma le card non sono allineate vuol dire che non è colpa della img!!! */
}

#recursive h2 {
  margin: 0;
  padding: 0;
}

#recursive p {
  margin: 0;
  padding: 0;
}
/* ho azzerato margin e paddings al testo per vedere meglio le differenze tra le card*/

footer {
  background-color: #25a2c3;
  padding: 3em 22em;
  text-align: left;
}

footer h1 {
  color: white;
  text-align: center;
}

footer a,
footer p {
  color: #c8e7f0;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.65em;
}

i {
  color: #c8e7f0;
  display: inline-block;
  font-size: 1.1em;
  margin: auto 0.2em;
}

hr {
  border: 1px solid #c8e7f0;
  width: 60%;
}

.copy {
  font-size: 0.9em;
}
